
@import url("reset.css");

h1 {
    color: blue;
}
h2,
h3 {
    color: aqua;
}
p {
    color: brown;
}
#part-04 {
    color: magenta;
}
[class*="te"] {
	color: red; 
}


.list > p {
    color: blueviolet;
} 

.list ~ p {
    color: chartreuse;
}
li {
    color: yellowgreen;
}
.items {
    color: violet;
}
a {
    color: orangered;
}